{{ $localchart := . }}

{{- $suts := default dict .Values.facility}}

{{- range $type, $specs := .Values.simulators}}
{{- $_ := set $suts $type (default (dict "instances" dict) (index $suts $type))}}
{{- range $key, $spec := $specs}}
{{- $_ := set (index $suts $type).instances $key $spec}}
{{- end }}
{{- end }}

{{- $_ := set .Values "deviceServers" (default dict .Values.deviceServers)}}
{{- $_ := merge .Values.deviceServers $suts}}

{{- range $key, $deviceserver := .Values.deviceServers }}

{{- $filedeviceserver := tpl ($.Files.Get (printf "data/%s.yaml" $key)) $ | fromYaml }}
{{- $context := dict "name" $key "deviceserver" $filedeviceserver "image" $filedeviceserver.image "local" $localchart}}
{{ template "ska-tango-util.multidevice-config.tpl" $context }}
{{ template "ska-tango-util.multidevice-sacc-role.tpl" $context }}
{{ template "ska-tango-util.multidevice-job.tpl" $context }}
{{ template "ska-tango-util.multidevice-svc.tpl" $context }}

{{- end }}  # deviceservers
