[flake8]
max-line-length = 88

extend-ignore = BLK,T
enable = DAR104
# E203 and W503 conflict with black
ignore = E203,W503

# this should be 10 and needs addressing
max-complexity = 21

docstring-style = sphinx
rst-roles = py:attr, py:class, py:const, py:exc, py:func, py:meth, py:mod
rst-directives = uml

per-file-ignores =
    # N802 = PEP8 lowercase function name -- conflicts with Tango conventions
    src/ska_low_mccs/antenna/antenna_device.py: N802
    src/ska_low_mccs/antenna/demo_antenna_device.py: N802
    src/ska_low_mccs/apiu/apiu_device.py: N802
    src/ska_low_mccs/apiu/demo_apiu_device.py: N802
    src/ska_low_mccs/controller/controller_device.py: N802
    src/ska_low_mccs/station/station_device.py: N802
    src/ska_low_mccs/station_beam/station_beam_device.py: N802
    src/ska_low_mccs/subarray/subarray_device.py: N802
    src/ska_low_mccs/subarray_beam/subarray_beam_device.py: N802
    src/ska_low_mccs/tel_state/tel_state_device.py: N802
    src/ska_low_mccs/transient_buffer/transient_buffer_device.py: N802
    tests/integration/test_integration_tmc.py: N802
    tests/unit/antenna/conftest.py: N802
    tests/unit/antenna/test_antenna_device.py: N802
    tests/unit/apiu/test_apiu_device.py: N802
    tests/unit/controller/test_controller_device.py: N802
    tests/unit/station/test_station_device.py: N802
    tests/unit/station_beam/test_station_beam_device.py: N802
    tests/unit/subarray/test_subarray_device.py: N802
    tests/unit/subarray_beam/test_subarray_beam_device.py: N802
    tests/unit/tel_state/test_tel_state_device.py: N802
    tests/unit/transient_buffer/test_transient_buffer_device.py: N802
