astropy
backoff
fire
future
jsonschema >= 3.2.0
numpy == 1.19.2
pyfabil-1.0-py3-none-any.whl
pytango >= 9.3.3
requests
scipy
# ska-tango-base == 0.11.3
git+https://gitlab.com/ska-telescope/ska-tango-base@d7aa5acb#egg=ska-tango-base
# git+https://gitlab.com/ska-telescope/ska-tango-base@c45e0ca46669ffdc3c61fc767127533fe6e7d9ec#egg=ska-tango-base
transitions
