astropy
backoff
fire
future
jsonschema >= 3.2.0
numpy == 1.19.2
pyfabil-1.0-py3-none-any.whl
pytango >= 9.3.3
requests
scipy
# ska-tango-base == 0.11.3
#
# Starting point on main = d7aa5acb
# git+https://gitlab.com/ska-telescope/ska-tango-base@d7aa5acb#egg=ska-tango-base
#
# MR for Johan modification - subsequently backed-out
# git+https://gitlab.com/ska-telescope/ska-tango-base@c45e0ca46669ffdc3c61fc767127533fe6e7d9ec#egg=ska-tango-base
#
# 2nd MR from Johan for a fix to events
# git+https://gitlab.com/ska-telescope/ska-tango-base@a5523737#egg=ska-tango-base
#
# OK, let's use main...
# git+https://gitlab.com/ska-telescope/ska-tango-base@main#egg=ska-tango-base
#
# OK, the latest MR - branch sar-286_lrc_one_subarry_command
git+https://gitlab.com/ska-telescope/ska-tango-base@7159f3d3#egg=ska-tango-base
transitions
