black >= 21.11b1
docformatter >= 1.4
darglint >= 1.8.1
flake8 >= 4.0.1
flake8_formatter_junit_xml >= 0.0.6
flake8-black >= 0.2.3
flake8-builtins >= 1.5.3
flake8-docstrings >= 1.6.0
flake8-fixme >= 1.1.1
flake8-rst-docstrings >= 0.2.3
mypy >= 0.910
pep8-naming >= 0.12.1
types-PyYAML >= 6.0.1
types-requests >= 2.26.0
types-setuptools >= 57.4.3
# ska-tango-base == 0.12.0
