# Default values for mccs (ska-low-mccs-spshw )
# This is a YAML-formatted file.
# Declare variables to be passed into your templates.

display: ":0"
xauthority: "~/.Xauthority"

system: SW-infrastructure
subsystem: low-mccs-spshw 
telescope: SKA-low

labels:
  app: ska-low-mccs-spshw 

global:
  minikube: true
  tango_host: databaseds-tango-base:10000
  cluster_domain: cluster.local

livenessProbe:
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 3
  successThreshold: 1
  failureThreshold: 3
readinessProbe:
  initialDelaySeconds: 0
  periodSeconds: 10
  timeoutSeconds: 3
  successThreshold: 1
  failureThreshold: 3

dsconfig:
  image:
    registry: artefact.skao.int
    image: ska-tango-images-tango-dsconfig
    tag: 1.5.1
    pullPolicy: IfNotPresent

resources:
  requests:
    cpu: 20m
    memory: 50Mi

image:
  registry: artefact.skao.int
  name: ska-low-mccs-spshw
  tag: ~ # defaults to chart's appVersion when empty
  pullPolicy: IfNotPresent

deviceServers: {} # e.g....
  # spsstations:
  #   s8-1:
  #     low-mccs/daqreceiver/s8-1:
  #       station_id: 345
  #       sdn_first_interface: 10.130.0.1/25
  #       sdn_gateway: 10.130.0.126
  #       antenna_config_uri:
  #       - "car:ska-low-aavs3?main"
  #       - "instrument/mccs-configuration/aavs3.yaml"
  #       - "a1"
  #       subracks:
  #       - "s8-1-1"
  #       tpms:
  #       - "s8-1-10"
  #       - "s8-1-13"
  #       logging_level_default: 5
  # daqs:
  #   s8-1:
  #     low-mccs/daqreceiver/s8-1:
  #       id: 345
  #       host: daq-simulator-s8-1
  #       port: 50051
  #       receiver_interface: eth0
  #       receiver_ip: ""
  #       receiver_port: 4660
  #       skuid_url: http://skuid-svc:9870/
  #       logging_level_default: 5
  # subracks:
  #   s8-1-1:
  #     low-mccs/subrack/s8-1-1:
  #       srmb_host: subrack-simulator-s8-1
  #       srmb_port: 8081
  #       logging_level_default: 5
  #       nodeSelector:
  #         kubernetes.io/hostname: psi-node3
  # tpms:
  #   s8-1-10:
  #     low-mccs/tile/s8-1-10:
  #       tile_id: 10
  #       station_id: 345
  #       host: 10.0.10.201
  #       port: 10000
  #       version: tpm_v1_6
  #       subrack: "s8-1-1"
  #       subrack_slot: 1
  #       simulation_config: 1
  #       test_config: 1
  #       logging_level_default: 5
  #       nodeSelector:
  #         kubernetes.io/hostname: psi-node3

simulators: {} # e.g.
  # daqs:
  #   s8-1:
  #     host: daq-simulator-s8-1
  #     port: 50051
  # subracks:
  #   s8-1-1:
  #     srmb_host: subrack-simulator-s8-1
  #     srmb_port: 8081

pgadmin4:
  enabled: false
