defaults:
  logging_level_default: 5

# Use helm_values to set arbitrary helm values.
# These are passed through to the helm values file as-is.
# For example,
#
helm_values:
  # Null ParentTRL given by platform spec, currently the only place to do this.
  ska-low-mccs-daq:
    ska-tango-devices:
      labels:
        # This label is used by the make infrastructure
        # It was added here for to ensure that daq pods are waited for in the k8s-wait stage
        # on pipeline
        app: ska-low-mccs-spshw # This label is used by the make infrastructure (e.g. k8s-wait.)
      # deviceServerTypes:
      #   daq:
      #     image:
      #       registry: docker.io/library # registry.gitlab.com/ska-telescope/mccs/ska-low-mccs-daq
      #       tag: 4.3.1-dirty
  ska-tango-devices:
    devices:
      SpsStation:
        low-mccs/spsstation/ci-1:
          ParentTRL: ""
        low-mccs/spsstation/real-daq-1:
          ParentTRL: ""
  # image:
  #   registry: docker.io/library # registry.gitlab.com/ska-telescope/mccs/ska-low-mccs-spshw
  #   tag: 10.2.0-dirty

